body{
    background-color: rgb(32 32 32);
    color: white;
}
.task{
    color: #ffffff;
    font-family: cursive;
    font-weight: 500;
    margin-left: 20px;
}
.custom-class-main {
    height: 100%;
}
.task-list{
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.ex-btn{
    margin: 4px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.remove-section{
    display: block;
    width: 194px;
    margin: auto;
}
.mid-btn{
    margin-left: 10px;
}